.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.span2 {
  grid-column: span 2;
}
@media all and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .span2 {
    grid-column: span 1;
  }
}
